/* Apply styles to the labels */
Label {
    -fx-font-size: 1.5em;
    -fx-text-fill: #016A91; /* Text color */
}

/* Apply styles to the text fields */
TextField {
    -fx-pref-height: 30; /* Set preferred height */
    -fx-font-size: 1.2em;
    -fx-background-color: #FFFFFF; /* Background color */
}

/* Apply styles to the buttons */
Button {
    -fx-pref-width: 100; /* Set preferred width */
    -fx-font-size: 1.2em;
    -fx-background-color: linear-gradient(to right, #0A3353, #016A91); /* Gradient background color */
    -fx-text-fill: #FFFFFF; /* Text color */
}

/* Apply styles to the button bar */
ButtonBar {
    -fx-spacing: 10; /* Spacing between buttons */
}

/* Apply styles to the table view */
TableView {
    -fx-pref-height: 230; /* Set preferred height */
    -fx-pref-width: 363; /* Set preferred width */
}

/* Apply styles to the table columns */
TableColumn {
    -fx-font-size: 1.2em;
    -fx-text-fill: #016A91; /* Text color */
}

/* Apply styles to the tabs */
TabPane {
    -fx-background-color: #EEEEEE; /* Background color */
}

/* Apply styles to the tab labels */
.tab-label {
    -fx-font-size: 1.5em;
    -fx-text-fill: #016A91; /* Text color */
}
/* Apply styles to the table cells */
.table-cell {
    -fx-font-size: 1.2em;
    -fx-text-fill: #000000; /* Text color */
}